.body{
    background-color: #f0f2f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -10px -10px 0 -10px;
    height: 690px;
}
#image{
    width: 300px;
    height: 300px;
    margin-left: -30px;
    margin-top: -290px;
}
#para{
    font-size: 28px;
    width: 500px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -110px;
    margin-right: 70px;

}
.box{
    border: 0.5px solid rgb(220, 220, 220);
    background-color: white;
    width: 405px;
    height: 350px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: -120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
#email{
    color: #1d2129;
    width: 332px;
    border-radius: 6px;
    padding: 14px 16px;
    border: 0;
    font-size: 17px;
    height: 22px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(174, 169, 169);

}
#pass{
    width: 332px;
    border-radius: 6px;
    padding: 14px 16px;
    border: 1px solid rgb(174, 169, 169);
    font-size: 17px;
    height: 22px;
    margin-top: -5px;
    margin-left: 20px;

}
#login{
    width: 362px;
    text-align: center;
    background-color: #1877f2;
    color: white;
    border: 0px solid #365899;
    border-radius: 6px;
    padding: 0px 16px;
    font-weight: bold;
    height: 48px;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 20px;
}
#forgot{
    color: #1877f2;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#line{
    width: 362px;
    border-color: #f0f2f5;
}
#new{
    width: 200px;
    text-align: center;
    background-color: #38b91f;
    color: white;
    border: 0px solid #2b9217;
    border-radius: 6px;
    padding: 0px 16px;
    font-weight: bold;
    height: 48px;
    font-size: 17px;
    margin: 13px 90px 20px 95px;
}
#create{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 14px;
    margin-left: 60px;
}
#page{
    font-weight: bold;
}
.foot{
    font-size: 12px;
    margin-top: 30px;
    margin-left: 260px;
    color: #8a8d91;
    font-family: Arial, Helvetica, sans-serif;
}
#line2{
    width: 990px;
    margin-top: 10px;
    margin-left: 260px;
    border-color: #f0f2f5;
}
.english{
    margin-left: 5px;
}
.text{
    margin-left: 260px;
    font-size: 12px;
    color: #737373;
}
.text2{
    margin-bottom: -8px;
    color: #8a8d91;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #text11, #text12, #text13, #text14, #text15, #text16, #text17, #text18, #text19, #text20, #text21, #text22, #text23, #text24, #text25, #text26, #text27, #text28, #text29, #text30, #text31{
    margin-right: 15px;
}
#text32{
    color: #737373;
}
